.app-header {
    margin-top: 20px;

    > nav {
        display: flex;
        justify-content: center;
        gap: 40px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            color: white;
            text-decoration: none;

            background-color: transparent;
            border: none;

            > img {
                width: 40px;
            }
        }
    }
}
