<section class="app-header">
    <nav>
        <button routerLink="">
            <img src="../../../assets/imgs/home.png"
                alt="person" />
        </button>
        <button routerLink="contact">
            <img src="../../../assets/imgs/users.png"
                alt="person" />
        </button>
        <button routerLink="charts">
            <img src="../../../assets/imgs/increase.png"
                alt="person" />
        </button>
        <ng-container *ngIf="user; else elseTemplate">
            <button (click)="onLogout()">
                <span>Logout</span>
            </button>
        </ng-container>
        <ng-template #elseTemplate>
            <button routerLink="signup">
                <span>Signup</span>
            </button>

            <button routerLink="/signup">
                <span>Login</span>
            </button>
        </ng-template>
    </nav>
</section>