<section [ngClass]="{'moves-list': true, full: fullView}">
    <h4 class="title">Moves History:</h4>


    <ng-container *ngIf="!moves?.length; else elseTemplate">
        <h4>No Moves Yet!</h4>
    </ng-container>

    <ng-template #elseTemplate>
        <label class="move-preview"
            *ngFor="let move of moves">
            <p>
                <span class="currencies">
                    <span class="bitcoin">B {{move.amount}}</span> |
                    <span class="dollar">{{(move.amount / +rate)|currency}}</span>
                </span>
                <br />
                <ng-template *ngIf="fullView">
                    To: {{move.to}}
                </ng-template>
            </p>
            <p>
                {{ move.at | date:"MM/dd/yy" }}
            </p>
        </label>
    </ng-template>
</section>