<section class="signup-page">
    <img src="../../../assets/imgs/bitcoin.png"
        alt="coin" />

    <form (submit)="signup()">
        <label>
            Username:
            <input [(ngModel)]="username"
                type="text"
                name="username"
                placeholder="Username"
                autoComplete="off" />
        </label>
        <label>
            Password:
            <input [(ngModel)]="password"
                type="password"
                name="password"
                placeholder="Password" />
        </label>

        <button class="signup-btn">Sign Up!</button>
    </form>
</section>