<section class="home-page">
    <div class="layout">
        <ng-container *ngIf="user; else elseTemplate">
            <h3 class="title">Hi, {{user.fullname}} !</h3>
            <div class="data">
                <span class="left">
                    <span>Current Balance</span>
                    <p class="bitcoin">BIT: <span>B {{user.balance.toLocaleString('en-GB')}}</span></p>
                    <p class="dollar">USD: <span>{{(1 / currBitRate * user.balance)|currency}}</span></p>
                </span>
                <span class="right">
                    <span>Current BTC USD</span>
                    <span class="currency">
                        {{(1 / currBitRate)|currency}}
                    </span>
                </span>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <h3>Please Login!</h3>
        </ng-template>

        <app-moves-list [movesProp]="user.moves"
            [fullView]="true"></app-moves-list>
    </div>
</section>