<section class="contact-details">
    <div class="btns">
        <button (click)="goBack()">
            <img src="../assets/imgs/back.png"
                alt="back">
        </button>
        <button (click)="editContact()">
            <img src="../assets/imgs/edit.png"
                alt="edit">
        </button>
    </div>

    <img src="../assets/imgs/contact.png"
        alt="contact" />
    <p class="name"> {{contact.name}}</p>
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>
    <p>Coins: {{contact.balance || 0}}</p>

    <app-transfer-fund (transferFund)="onTransfer($event)"
        [contact]="contact"></app-transfer-fund>
    <app-moves-list [movesProp]="contact.moves"></app-moves-list>
</section>